<div class="bg-gray-200" [ngClass]="darkMode? 'dark':  ''">
    <div class="container mx-auto ma-8">
        <div *ngIf="data && data.length &&!loading; else spinner"
            class="container  grid grid-cols-1 md:grid-cols-3 gap-4 cursor-pointer">
            <div [ngClass]="darkMode? 'darkCard':  ''" [routerLink]="['/detail', item.id]" *ngFor="let item of data |
        paginate: { id: 'server', itemsPerPage: pageSize, currentPage: page, totalItems: total }"
                class='max-w-sm mt-0 mx-auto relative rounded-lg overflow-hidden shadow-lg bg-white'>
                <img class='w-full' [src]="item.url" [alt]="item.name" />
                <div class='px-6 py-4'>
                    <div class='font-bold text-xl  text-center'>{{ item.name | titlecase }}</div>
                </div>
            </div>
        </div>
        <ng-template #spinner>
            <div style="margin-top: 10em; margin-bottom: 15em">
                <app-spinner></app-spinner>
            </div>
        </ng-template>
    </div>
    <div [ngClass]="darkMode? 'darkPaginate':  ''" class="container py-6 text-center mx-auto">
        <pagination-controls (pageChange)="getPage($event)" id="server">
        </pagination-controls>
    </div>
</div>