<div class="container mx-auto">
    <div *ngIf="data && data.length &&!loading; else spinner" class="container grid grid-cols-3 gap-4 cursor-pointer">
        <div [routerLink]="['/detail', item.id]" *ngFor="let item of data |
        paginate: { id: 'server', itemsPerPage: perPage, currentPage: page, totalItems: total }"
            class='row-span-1 max-w-sm mt-0 relative rounded-lg overflow-hidden shadow-lg bg-white'>
            <img class='w-full' [src]="item.url" [alt]="item.name" />
            <div class='px-6 py-4'>
                <div class='font-bold text-xl  text-center'>{{ item.name | titlecase }}</div>
            </div>
        </div>
    </div>
    <ng-template #spinner>
        <div style="margin-top: 10em; margin-bottom: 15em">
            <app-spinner></app-spinner>
        </div>
    </ng-template>
</div>
<div class="container my-6 text-center mx-auto">
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>