<div [ngClass]="darkMode? 'dark':  ''" class="mt-5 pb-10 flex mb-10 bg-gray-200 justify-center">
    <div *ngIf="item; else spinner" 
        class='card grid lg:grid-cols-2 mx-6 max-w-md lg:max-w-4xl mt-0 pa-3 px-6 rounded-lg overflow-hidden shadow-lg bg-white'>
        <div>
            <img class='w-full lg:mr-20' [src]="item.url" [alt]="item.name" />
        </div>
        <div class="">
            <div class='px-6 py-4'>
                <div class='font-bold text-xl text-center'>{{ item.name | titlecase }}</div>
            </div>
            <div class="overflow-hidden rounded border-gray-200">
                <table class="w-full bg-white text-left">
                    <tbody class="text-gray-700" [ngClass]="darkMode? 'darkTable':  ''">
                        <tr>
                            <th class="py-3 px-4">height</th>
                            <td class="py-3 px-4"> {{item.height}} </td>
                        </tr>
                        <tr>
                            <th class="py-3 px-4">weight</th>
                            <td class="py-3 px-4"> {{item.weight}} </td>
                        </tr>
                        <ng-container *ngIf="showStats">
                            <tr *ngFor="let stat of item.stats">
                                <th class="py-3 px-4">{{stat.stat.name}}</th>
                                <td class="py-3 px-4"> {{stat.base_stat}} </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <div class='px-6 pt-4 pb-2'>
                <span *ngFor="let type of item.types" [ngClass]="getColor(type.type.name)"
                    class='inline-block rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2'>
                    {{type.type.name}}
                </span>
            </div>
        </div>
    </div>
    <ng-template #spinner>
        <div style="margin-top: 10em; margin-bottom: 15em">
            <app-spinner></app-spinner>
        </div>
    </ng-template>
</div>