<div class="bg-gray-200" [ngClass]="darkMode ? 'dark': ''">
    <header class="lg:px-16 px-6 bg-teal-500 flex flex-wrap items-center lg:py-0 py-2">
        <div class="flex items-center w-auto w-full" id="menu">
            <nav>
                <ul class="flex items-center justify-between text-base text-white pt-0">
                    <li>
                        <a class="p-4 py-3 px-0 block text-lg" routerLink="/">Home
                        </a>
                    </li>
                    <li>
                        <a class="p-4 py-3 ml-3 px-0 block text-lg" routerLink="/settings">Settings
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <router-outlet></router-outlet>
</div>